.wrapper {
  display: flex;
  flex-direction: column;
  width: 35vw;
  height: 100vh;
  background-color: yellowgreen;
  padding: 10px;
  font-size: 18px;


  li {
    cursor: pointer;
    margin: 2px;
  }
}
