.wrapper {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: calc(100vh - 46px);
  background-color: #57b6f1;
  padding: 10px;
  font-size: 18px;
  position: absolute;
  top:46px;


  li {
    cursor: pointer;
    margin: 2px;
  }
}
